# Cloudflare plaintext variables
NEXT_PUBLIC_APP_URL=https://join.albertasvoice.ca
NEXT_PUBLIC_SUPABASE_URL=https://rijwptnrichseefmifjm.supabase.co
INVITE_FROM_EMAIL="Alberta's Voice <invites@albertasvoice.ca>"
BROADCAST_FROM_EMAIL="Alberta's Voice <updates@albertasvoice.ca>"
THANK_FROM_EMAIL="Alberta's Voice <thankyou@albertasvoice.ca>"

# Cloudflare secrets
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
RESEND_API_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
